node_modules
.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
dist
build
*.log
.npm
.eslintcache
coverage
.turbo
.next
out
apps/web/dist
.idea
.vscode
*.swp
*.swo
*~
.cache
.parcel-cache
.env
.env.production.example
